body {
  color: #133337;
}
.md-input {
  transition: border 0.1s;
}
label {
  transition: color 0.2s;
}
section, footer {
  padding: 3rem;
}
nav {
  color: #000;
  padding-left: 3rem;
  padding-right: 3rem;
}
md-toolbar:not(.md-menu-toolbar) {
  background-color: rgba(0,0,0,0);
}
li {
  list-style: none;
  margin-left: 2rem;
}
nav ul li a {
  color: #000;
  text-decoration: none;
}
p {
  line-height: 1.8rem;
}
code, .code {
  background-color: #fff;
  border: .05rem solid rgba(0,0,0,0.1);
  border-radius: .2rem;
  padding: 0.4rem;
}
pre {
  white-space: pre-wrap;
}
