<h2>Talk to me here:</h2>
<md-content>
    <form class="" action="index.html" method="post">
        <div layout="row">
            <md-input-container flex>
                <label for="contact_name">Name</label>
                <input id="contact_name" type="text" name="name" placeholder="Billy Gates">
            </md-input-container>
            <md-input-container flex>
                <label for="contact_email">email</label>
                <input id="contact_email" type="email" name="email" placeholder="bill.g@microsoft.com">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
            <label for="contact_message">Message</label>
            <textarea id="contact_message" name="message" placeholder="I think you're awesome. Take my money."></textarea>
        </md-input-container>
        <md-button type="button" class="md-primary md-raised">Holla!</md-button>

    </form>
</md-content>
