<md-toolbar>
    <nav layout="row">
        <h1 flex>I'm Patrick Rauls</h1>
        <ul flex layout="row" layout-align="end center" hide-sm hide-xs>
            <li><a href="#projects">projects</a></li>
            <li><a href="#thoughts">thoughts</a></li>
            <li><a href="#cv">cv</a></li>
            <li>
                <a href="#stalk">stalk me</a>
                <!-- <ul>
                    <li><a href="#">linkedin</a></li>
                    <li><a href="#">github</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">dribbble</a></li>
                </ul> -->
            </li>
            <li><a href="#holla">holla</a></li>
        </ul>
    </nav>
</md-toolbar>
